*.o
*.lo
*.a
*.la
*.gcda
*.gcno
*.gcov
.*.swp
.deps
.libs
Makefile
Makefile.in
config.*
aclocal.m4
autom4te.cache
configure
depcomp
install-sh
missing
stamp-h1
libmd3-0.2.pc
libmodelfile.spec
libtool
ltmain.sh
